.signup-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.signup-container{
    width: 400px;
    padding: 20px;
    border: 5px solid transparent; /* Set border width and make it transparent */
    border-radius: 20px; /* Set border radius to create rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a cool effect */
}

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phonenumber-content{
    margin-bottom: 20px;
}