.dashboard-wrapper{
    display: flex;
    justify-content: center;

}


.dashboard-welcome-text h1{
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}



.dashboard-content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    
}

.dashboard-item-container{
    display: grid;
    gap: 1.5rem;
    text-align: justify;
    width: 900px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;   
}

.event-item{
    display: flex;
    border: 1px solid black; /* Set border width and make it transparent */
    border-radius: 10px; /* Set border radius to create rounded corners */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for a cool effect */
    padding: 40px;
    
}

