.dashboard-wrapper{
    display: flex;
    justify-content: center;

}


.dashboard-welcome-text h1{
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}



.dashboard-content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    
}

.dashboard-item-container{
    display: grid;
    gap: 1.5rem;
    text-align: justify;
    width: 900px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;   
}


