.event-creation-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.event-creation-container{
    display: flex;
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Add some padding to make it look nicer */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.event-creation-image-container{
    display: flex;
    width: 100%;
    margin: 20px;
}