.admin-dashboard-wrapper{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.admin-dashboard-container{
    display: flex;
    flex-direction: column;
    
}


.organizer-page-container {
    width: 100%;
    max-width: 900px; /* Adjust as needed */
    padding: 20px;
    box-sizing: border-box;
}
.admin-dashboard-header{
    display: flex;
    justify-content: center;
    width: 50%;
}

.name-status-action{
    display: flex;
    justify-content: space-around;
    padding-bottom:20px ;
}

.status-and-action-container{
    display: flex;
    gap: 5rem;
}

.test-requests{
    margin-left: 190px;
    margin-right: 190px;
    display: grid;
    gap: .1rem;
    
}

.test-item{
    border: 2px solid black;
    border-radius: 3px;
}

