.admin-dashboard-wrapper{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.admin-dashboard-container{
    display: flex;
    flex-direction: column;
}

.admin-dashboard-content{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 600px;

}

.admin-dashboard-header{
    display: flex;
    justify-content: center;
    width: 50%;
}

.name-status-action{
    display: flex;
    justify-content: space-around;
    padding-bottom:20px ;
}

.status-and-action-container{
    display: flex;
    gap: 5rem;
}

.test-requests{
    margin-left: 190px;
    margin-right: 190px;
    display: grid;
    gap: .1rem;
    
}

.test-item{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.22) 0%, rgba(198.98, 210.37, 153.40, 0.49) 100%);
    border-radius: 15px; /* assuming you meant '37px' for border-radius */
    border: 1px solid #C7D299; /* assuming you meant '37px' for border-radius */
}

