.org-dashboard-wrapper{
    padding-top: 20px;
    height: 80vh;
    
}

.org-dashboard-container{
    display: flex;
    flex-direction: column;
}

.org-dashboard-header{
    display: flex;
    justify-content: center;
    width: 50%;
}

.org-name-status-action{
    display: flex;
    justify-content: space-around;
    padding-bottom:20px ;
}

.org-status-and-action-container{
    display: flex;
    gap: 5rem;
}

.e-title{
    margin-right: 50px;
    padding-left: 20px;
}

.org-test-requests{
    margin-left: 280px;
    margin-right: 280px;
    display: grid;
    gap: .1rem;
}



.org-request-item {
    display: flex;
    background-color: rgba(144, 93, 3, 0.99);
    border-radius: 15px; /* Set border radius to create rounded corners */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for a cool effect */
    padding: 40px;
    width: 950px;
    height: 20px;
    transition: transform 0.3s ease;
    justify-content: space-between;

}

.org-user-id h3{
    margin: 0px;
}

.request-status-and-approve{
    display: flex;
    gap: 2.5rem;
}

.request-status-and-approve p{
    margin: 0px;
}

.approve-and-reject{
    display: flex;
    gap: 0.4rem;
}

.approve-link, .reject-link{
    text-decoration: none;
    
}
.approve-link{
    color: black;
}
.reject-link{
    color: darkred;
}

.org-right{
    display: flex;
    gap: 5rem;
}

.org-event-title p{
    margin: 0px;
}

.org-accept, .org-reject{
    text-decoration: none;
}
.org-accept-and-reject{
    display: flex;
    gap: 0.4rem;
}

.org-accept{
    color: darkgreen;
}
.org-reject{
    color: darkred;
}